@import "tailwindcss/base";

@import "tailwindcss/utilities";

@import "tailwindcss/components";

@font-face {
    font-family: PoppinsRegular;
    src: url('design/Poppins-Regular.otf') format('opentype');
}

@font-face {
    font-family: PoppinsSemiBold;
    src: url('design/Poppins-SemiBold.otf') format('opentype');
}

@font-face {
    font-family: OpenSans;
    src: url('design/OpenSans-VariableFont_wdth\,wght.ttf') format('truetype');
}